@import "_Variables";
@import "../App.scss";
section {
	@include flex-justify;
	margin: 2.5rem;
	.contenedor-balance {
		box-shadow: 0px 7px 26px -3px rgba(0, 0, 0, 0.2);
		background-color: #fff;
		width: 18.75rem;
		border-radius: 0.625rem;
		margin: 1rem;
		h2 {
			@include titulo-h2;
		}
		.grupo-filas {
			height: 13rem;
		}
		.contenedor-filas {
			@include flex-space-between;
			@include capitalizar-texto;
			margin: 1rem;
			padding: 0.5rem;
			font-size: 1.1rem;
			.total-balance {
				font-size: 1.25rem;
			}
			.ganancia {
				color: $color-ganancia;
			}
			.gasto {
				color: $color-gasto;
			}
		}
	}
	.filtros {
		padding: 1.125rem;
		.contenedor-filtros {
			@include flex-space-between;
			h3 {
				@include capitalizar-texto;
				font-size: 1.725rem;
				padding: 0.625rem;
				margin: 0;
				color: $color-titulos;
			}
			button {
				@include capitalizar-texto;
				color: $color-botones;
				border: none;
				background-color: transparent;
				font-size: 0.9rem;
				padding: 0.625rem;
			}
		}
	}
	.formulario-filtros {
		@include flex-column;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
		&.oculto {
			max-height: 0;
		}
		label {
			@include capitalizar-texto;
			@include label;
		}
		select,
		input {
			@include select-input;
			option {
				@include form-option;
			}
		}
	}
	.contenedor-operacion-balance {
		background-color: #fff;
		box-shadow: 0px 7px 26px -3px rgba(0, 0, 0, 0.2);
		width: 40rem;
		margin: 1rem;
		height: 37.5rem;
		width: 47rem;
		border-radius: 0.625rem;
		.operacion-balance-titulo {
			@include flex-space-between;
			margin: 1rem;
			h3 {
				@include capitalizar-texto;
				font-size: 1.625rem;
				color: $color-titulos;
			}
			.btn-operacion {
				background-color: $color-principal;
				color: #fff;
				border: none;
				border-radius: 0.625rem;
				padding: 0.9375rem;
				font-size: 1rem;
			}
			.btn-operacion:hover {
				background-color: $color-hover;
			}
		}
		.contenedor-img-operacion {
			@include flex-justify;
			padding: 2rem;
			img {
				max-width: 70%;
			}
		}
		.parrafo-operaciones {
			@include flex-center;
			@include flex-column;
			h4 {
				font-size: 1.5rem;
				margin: 1rem;
				padding: 0.5rem;
				color: $color-titulos;
			}
		}
	}
}

// mobile
@media screen and (max-width: 768px) {
	section {
		@include flex-wrap;
	}
	.operacion-balance-titulo {
		@include flex-column;
	}
}
