@import "_Variables";
@import "../App.scss";
section {
	background-color: $color-fondo-seccion;
	display: flex;
	justify-content: center;
	height: 100vh;
	// justify-content: space-around;
	.columnas-balance {
		background-color: red;
	}
	.contenedor-balance {
		background-color: #fff;
		width: 18.75rem;
		height: 18.75rem;
		border-radius: 0.625rem;
		margin: 1rem;
		h2 {
			@include capitalizar-texto;
			margin: 1rem;
		}
		.contenedor-filas {
			@include flex-space-between;
			@include capitalizar-texto;
			background-color: green;
			margin: 1rem;
			padding: 0.5rem;
		}
	}
	.filtros {
		background-color: pink;
		padding: 1.125rem;
		.contenedor-filtros {
			// background-color: yellow;
			@include flex-space-between;
			h3,
			button {
				@include capitalizar-texto;
			}
		}
	}
	.formulario-filtros {
		//background-color: green;
		@include flex-column;
	}
	.contenedor-operacion-balance {
		background-color: #fff;
		// background-color: green;
		width: 40rem;
		margin: 1rem;
		height: 37.5rem;
		width: 47rem;
		.operacion-balance-titulo {
			display: flex;
			justify-content: space-between;
			background-color: grey;
			margin: 1rem;
			h3 {
				background-color: red;
				@include capitalizar-texto;
			}
		}
		.contenedor-img-operacion {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			img {
				max-width: 60%;
				height: auto;
			}
		}
	}
}
