@import "_Variables";
@import "../App.scss";

.titulo-categorias {
	@include titulo-h2;
}
.form-categorias {
	margin-bottom: 1rem;
	.categorias-label {
		@include label;
	}
	.ctn-form-categorias {
		display: flex;
		.input-categorias {
			@include select-input;
			width: 50rem;
			margin: 0;
		}
		.btn-agregar {
			@include btn-agregar;
			margin: 0;
			margin-left: 0.5rem;
			cursor: pointer;
		}
	}
}
.lista-categorias-map {
	padding: 1rem;
	.ctn-categorias-lista {
		@include flex-space-between;
		.lista-categorias {
			list-style: none;
			color: $color-lista-categorias;
			background-color: $background-color-lista-categorias;
			border-radius: 0.5rem;
			padding: 0.1rem;
			text-transform: capitalize;
			margin: 1rem;
		}
		.btn-categoria {
			color: $color-btn-categorias;
			border: none;
			background-color: transparent;
			font-size: 0.9rem;
			margin: 0.7rem;
		}
		.btn-categoria:hover {
			color: #000;
			cursor: pointer;
		}
	}
}
// mobile
@media screen and (max-width: 768px) {
	.ctn-categorias-lista {
		@include flex-column;
	}
}
