@import "_Variables";
@import "../App.scss";
.contenedor-modal {
	background-color: #fff;
	border-radius: 0.375rem;
	width: 41.5rem;
	padding: 0.5rem;
	h2 {
		@include titulo-h2;
	}
	form {
		padding: 0 1rem;
		@include flex-column;
		label {
			@include label;
		}
		select,
		input {
			@include select-input;
			option {
				@include form-option;
			}
		}
	}
	.botones-operacion {
		margin: 1rem;
		@include flex-end;
		button {
			@include button-style;
		}
		.btn-cancelar {
			@include button-cancel;
		}
		.btn-agregar {
			background-color: $color-boton-agregar;
			color: #fff;
		}
	}
}
.oculto {
	display: none;
}
