@import "_Variables";
@import "../App.scss";
.card-opn {
	width: 100%;
	@include flex-column;
}
.header {
	@include flex-space-between;
	padding: 5px;
}
.title-opn {
	color: $color-titulos;
	font-weight: bold;
}
.row {
	@include flex-space-between;
	align-items: center;
	padding: 10px;
}
.flex-item {
	flex: 1;
	text-align: left;
}
.span-description-opn {
	color: $color-titulos;
	font-weight: bold;
}
.lista-categorias {
	list-style: none;
	color: $color-lista-categorias;
	background-color: $background-color-lista-categorias;
}
.span-date-opn {
	font-size: 0.9rem;
	color: $color-date-opn;
}
.span-monto {
	font-size: 0.9rem;
}
.btn-opcn {
	flex-shrink: 0;
}
.box-btn-opn {
	display: flex;
	gap: 10px;
	button {
		color: $color-botones;
		border: none;
		background-color: transparent;
	}
}
.title-opn,
.span-description-opn,
.span-date-opn,
.span-monto {
	flex: 1;
	text-align: left;
}
.monto-ganancia {
	color: $color-ganancia;
}
.monto-gasto {
	color: $color-gasto;
}
.span-opcn-modal {
	@include flex-center;
	height: 25rem;
}
// mobile
@media screen and (max-width: 768px) {
	.header {
		font-size: 0.75rem;
	}
}
