@import "_Variables";
@import "../App.scss";
.card-opn {
	border: 1px solid black;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	padding: 5px;
	justify-content: space-between;
}
.title-opn {
	color: $color-titulos;
	font-weight: bold;
}
.row {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	justify-content: space-between;
}
.flex-item {
	flex: 1;
	text-align: left;
}
.span-description-opn {
	color: $color-titulos;
	font-weight: bold;
}
.lista-categorias {
	list-style: none;
	color: $color-lista-categorias;
	background-color: $background-color-lista-categorias;
}
.span-date-opn {
	font-size: 0.9rem;
	color: $color-date-opn;
}
.span-monto {
	font-size: 0.9rem;
}
.btn-opcn {
	flex-shrink: 0;
}
.box-btn-opn {
	display: flex;
	gap: 10px;
	button {
		color: $color-botones;
		border: none;
		background-color: transparent;
	}
}
.title-opn,
.span-description-opn,
.span-date-opn,
.span-monto {
	flex: 1;
	text-align: left;
}
