@import "_Variables";
@import "../App.scss";
nav {
	background-color: $color-principal;
	@include flex-space-between;
	.contenedor-nav-titulo {
		color: #fff;
		h1 {
			@include capitalizar-texto;
		}
		.icono-nav-cartera {
			margin: 0.313rem;
		}
		@include flex;
		margin: 1rem;
		padding: 0.5rem;
	}

	.contenedor-nav-lista {
		ul {
			list-style: none;
			display: flex;
			li {
				margin: 1rem;
				.link-nav {
					text-decoration: none;
					margin: 2rem;
					padding: 1rem;
					color: #fff;
					font-size: 1rem;
					@include capitalizar-texto;
					.iconos-nav {
						margin-right: 0.5rem;
					}
					&:hover {
						background-color: $color-hover;
						border-radius: 0.4rem;
					}
				}
			}
		}
	}
}
.mobile-menu-icon {
	display: none;
}

//menu mobile
@media screen and (max-width: 768px) {
	.contenedor-nav-lista {
		display: none;
		&.active {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 60px;
			left: 0;
			width: 100%;
			background-color: $color-principal;
			padding: 1rem;
			z-index: 999;
		}
		ul {
			flex-direction: column;
			li {
				margin: 1rem 0;
			}
		}
	}
	.mobile-menu-icon {
		display: flex;
		font-size: 1.5rem;
		color: #fff;
		background: none;
		border: none;
		cursor: pointer;
		justify-content: center;
		align-items: center;
	}
}
