@import "_Variables";
@import "../App.scss";

.reportes-title {
	font-size: 2.5rem;
	color: $color-form;
	margin: 1.125rem;
	padding: 0.225rem;
}
.box-resume {
	margin: 3rem;
}
.title-resume {
	font-size: 1.5rem;
	color: $color-form;
}
.flex-reportes {
	@include flex-space-around;
	margin: 1rem;
	padding: 1.125rem;
	span {
		font-weight: bold;
		color: $color-titulos;
	}
}
.box-img-reportes {
	@include flex-center;
	@include flex-column;
	.operaciones-reportes {
		color: $color-titulos;
		font-weight: bold;
		margin: 1rem;
	}
	span {
		margin: 0.625rem;
	}
	img {
		max-width: 60%;
	}
}
