$color-principal: #00d1b2;
$color-hover: #00b89c;
$color-fondo-seccion: #f5f5f5;
$color-botones: #3173dc;
$color-titulos: #4a4a4a;
$color-form: #363636;
$color-ganancia: #49c674;
$color-gasto: #f35372;
$color-boton-agregar: #48c774;
