@import "../src/styles/Variables";
* {
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-fondo-seccion;
	font-family: "Roboto", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flex {
	display: flex;
	align-items: center;
}
@mixin flex-justify {
	display: flex;
	justify-content: center;
}
@mixin flex-column {
	display: flex;
	flex-direction: column;
}
@mixin flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
@mixin flex-space-between {
	display: flex;
	justify-content: space-between;
}
@mixin flex-end {
	display: flex;
	justify-content: flex-end;
}
@mixin flex-space-around {
	display: flex;
	justify-content: space-around;
}
@mixin capitalizar-texto {
	text-transform: capitalize;
}
@mixin titulo-h2 {
	@include capitalizar-texto;
	color: $color-titulos;
	padding: 1.125rem;
	font-size: 2rem;
}
@mixin label {
	padding: 0.3125rem;
	margin-top: 0.5rem;
	font-weight: bold;
	font-size: 1.125rem;
	color: $color-form;
}
@mixin select-input {
	border: 1px solid #dbdbdb;
	border-radius: 0.313rem;
	padding: 0.8rem;
	margin-bottom: 0.5rem;
}
@mixin form-option {
	background-color: #f8f8f8;
	color: #333;
}
@mixin btn-agregar {
	background-color: $color-boton-agregar;
	color: #fff;
	border: none;
	border-radius: 0.375rem;
	margin: 0.5rem;
	padding: 0.7rem;
	font-size: 1rem;
}
@mixin button-style {
	border: none;
	border-radius: 0.375rem;
	margin: 0.5rem;
	padding: 0.7rem;
	font-size: 1rem;
}
@mixin button-cancel {
	color: #000;
	background-color: $color-fondo-seccion;
}
